.App {
  color : white;
  background-color : #405366
}

#inputID::placeholder {
  color: #fff;
  font-weight: bold;
  opacity: 1;
}

.footerIcon{
  font-size: 30px;
  margin : 10px;
}
*{
  margin: 0;
  padding: 0;
}

.about-img{
  margin-left: -50px;
}
.serviceCard:hover{
  background-color: rgb(131, 124, 124);
  transform: translateY(-5px);
  transition-duration: 1.5s;
}

html{
  scroll-behavior: smooth;
}

.bg-color{
  background-color : rgb(32, 48, 63);
}

h1{
  color: #D8B31C;
  font-family: monospace;
  font-weight: bold;
}
.typical{
  color: rgb(177, 57, 97);
  font-family: monospace;
}